site_name: mkdocstrings-nim
site_description: A Nim handler for mkdocstrings
site_url: https://elijahr.github.io/mkdocstrings-nim/

repo_name: elijahr/mkdocstrings-nim
repo_url: https://github.com/elijahr/mkdocstrings-nim

theme:
  name: material
  palette:
    - scheme: slate
      primary: amber
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: amber
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - toc.follow

exclude_docs: |
  plans/

plugins:
  - search
  - mike:
      alias_type: symlink
      canonical_version: latest
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
  - glightbox

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Configuration: configuration.md
  - Writing Docstrings: docstrings.md
  - Changelog: changelog.md

extra:
  version:
    provider: mike
    default: latest
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/elijahr/mkdocstrings-nim
